src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="daily-ranking-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="daily-ranking-api-config" api="resource::aec3bb73-7577-44b7-981a-c50e1f5b17dd:daily-ranking-api:1.0.0:raml:zip:daily-ranking-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="daily-ranking-api-main">
        <http:listener config-ref="daily-ranking-api-httpListenerConfig" path="/">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="daily-ranking-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="daily-ranking-api-console">
        <http:listener config-ref="daily-ranking-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="daily-ranking-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\:daily-ranking-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "0",
  items: [
    {
      asurakuareanames: "",
      asurakuareas: "",
      asurakuflg: "0",
      asurakuprefs: "",
      dealpoint: null,
      genreId: "0",
      genrecolor: "#BF0000",
      genrename: "総合",
      genrepath: "/0/551169/208264/568357/402788",
      imageurl128: "https://tshop.r10s.jp/hayaritsushin/cabinet/mask/decogao-0823-1.jpg?fitin=128:128",
      imageurl64: "https://tshop.r10s.jp/hayaritsushin/cabinet/mask/decogao-0823-1.jpg?fitin=64:64",
      itemid: "10002627,",
      itemname: "＼48時間限定！／先着限定ク…",
      itempointendtime: null,
      itempointrate: null,
      itempointstarttime: null,
      itemurl: "https://item.rakuten.co.jp/hayaritsushin/decogao/",
      kakaku: "1,999円",
      mobileshoppointendtime: null,
      mobileshoppointrate: null,
      mobileshoppointstarttime: null,
      mobileurl: "http://m.rakuten.co.jp/hayaritsushin/n/decogao/",
      postageflg: 0,
      prerank: "1",
      price: "1999",
      rank: "1",
      revavedecimal: "29",
      revaveinteger: "4",
      reviewave: "4.29",
      reviewnum: "1923",
      reviewurl: "https://review.rakuten.co.jp/item/1/351180_10002627/1.1/",
      revnumcomma: "1,923",
      rtrurl: "https://ranking.rakuten.co.jp/daily/",
      servicetype: "1",
      shopid: 351180,
      shopname: "MONO KOTO DEPT.",
      shoppointendtime: null,
      shoppointrate: null,
      shoppointstarttime: null,
      shopurl: "https://www.rakuten.co.jp/hayaritsushin/",
      tags: null,
      updatedate: "2022/08/22",
      updatetime: ""
    }, 
    {
      asurakuareanames: "",
      asurakuareas: "",
      asurakuflg: "0",
      asurakuprefs: "",
      dealpoint: null,
      genreId: "0",
      genrecolor: "#BF0000",
      genrename: "総合",
      genrepath: "/0/551169/208264/568357/402788",
      imageurl128: "https://tshop.r10s.jp/hayaritsushin/cabinet/mask/decogao-0823-1.jpg?fitin=128:128",
      imageurl64: "https://tshop.r10s.jp/hayaritsushin/cabinet/mask/decogao-0823-1.jpg?fitin=64:64",
      itemid: "10002627,",
      itemname: "＼48時間限定！／先着限定ク…",
      itempointendtime: null,
      itempointrate: null,
      itempointstarttime: null,
      itemurl: "https://item.rakuten.co.jp/hayaritsushin/decogao/",
      kakaku: "1,999円",
      mobileshoppointendtime: null,
      mobileshoppointrate: null,
      mobileshoppointstarttime: null,
      mobileurl: "http://m.rakuten.co.jp/hayaritsushin/n/decogao/",
      postageflg: 0,
      prerank: "1",
      price: "1999",
      rank: "1",
      revavedecimal: "29",
      revaveinteger: "4",
      reviewave: "4.29",
      reviewnum: "1923",
      reviewurl: "https://review.rakuten.co.jp/item/1/351180_10002627/1.1/",
      revnumcomma: "1,923",
      rtrurl: "https://ranking.rakuten.co.jp/daily/",
      servicetype: "1",
      shopid: 351180,
      shopname: "MONO KOTO DEPT.",
      shoppointendtime: null,
      shoppointrate: null,
      shoppointstarttime: null,
      shopurl: "https://www.rakuten.co.jp/hayaritsushin/",
      tags: null,
      updatedate: "2022/08/22",
      updatetime: ""
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\\(genreid):daily-ranking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="genreid">attributes.uriParams.'genreid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "0",
  items: [
    {
      asurakuareanames: "",
      asurakuareas: "",
      asurakuflg: "0",
      asurakuprefs: "",
      dealpoint: null,
      genreId: "0",
      genrecolor: "#BF0000",
      genrename: "総合",
      genrepath: "/0/551169/208264/568357/402788",
      imageurl128: "https://tshop.r10s.jp/hayaritsushin/cabinet/mask/decogao-0823-1.jpg?fitin=128:128",
      imageurl64: "https://tshop.r10s.jp/hayaritsushin/cabinet/mask/decogao-0823-1.jpg?fitin=64:64",
      itemid: "10002627,",
      itemname: "＼48時間限定！／先着限定ク…",
      itempointendtime: null,
      itempointrate: null,
      itempointstarttime: null,
      itemurl: "https://item.rakuten.co.jp/hayaritsushin/decogao/",
      kakaku: "1,999円",
      mobileshoppointendtime: null,
      mobileshoppointrate: null,
      mobileshoppointstarttime: null,
      mobileurl: "http://m.rakuten.co.jp/hayaritsushin/n/decogao/",
      postageflg: 0,
      prerank: "1",
      price: "1999",
      rank: "1",
      revavedecimal: "29",
      revaveinteger: "4",
      reviewave: "4.29",
      reviewnum: "1923",
      reviewurl: "https://review.rakuten.co.jp/item/1/351180_10002627/1.1/",
      revnumcomma: "1,923",
      rtrurl: "https://ranking.rakuten.co.jp/daily/",
      servicetype: "1",
      shopid: 351180,
      shopname: "MONO KOTO DEPT.",
      shoppointendtime: null,
      shoppointrate: null,
      shoppointstarttime: null,
      shopurl: "https://www.rakuten.co.jp/hayaritsushin/",
      tags: null,
      updatedate: "2022/08/22",
      updatetime: ""
    }, 
    {
      asurakuareanames: "",
      asurakuareas: "",
      asurakuflg: "0",
      asurakuprefs: "",
      dealpoint: null,
      genreId: "0",
      genrecolor: "#BF0000",
      genrename: "総合",
      genrepath: "/0/551169/208264/568357/402788",
      imageurl128: "https://tshop.r10s.jp/hayaritsushin/cabinet/mask/decogao-0823-1.jpg?fitin=128:128",
      imageurl64: "https://tshop.r10s.jp/hayaritsushin/cabinet/mask/decogao-0823-1.jpg?fitin=64:64",
      itemid: "10002627,",
      itemname: "＼48時間限定！／先着限定ク…",
      itempointendtime: null,
      itempointrate: null,
      itempointstarttime: null,
      itemurl: "https://item.rakuten.co.jp/hayaritsushin/decogao/",
      kakaku: "1,999円",
      mobileshoppointendtime: null,
      mobileshoppointrate: null,
      mobileshoppointstarttime: null,
      mobileurl: "http://m.rakuten.co.jp/hayaritsushin/n/decogao/",
      postageflg: 0,
      prerank: "1",
      price: "1999",
      rank: "1",
      revavedecimal: "29",
      revaveinteger: "4",
      reviewave: "4.29",
      reviewnum: "1923",
      reviewurl: "https://review.rakuten.co.jp/item/1/351180_10002627/1.1/",
      revnumcomma: "1,923",
      rtrurl: "https://ranking.rakuten.co.jp/daily/",
      servicetype: "1",
      shopid: 351180,
      shopname: "MONO KOTO DEPT.",
      shoppointendtime: null,
      shoppointrate: null,
      shoppointstarttime: null,
      shopurl: "https://www.rakuten.co.jp/hayaritsushin/",
      tags: null,
      updatedate: "2022/08/22",
      updatetime: ""
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
